body {
  background-image: url('https://yt3.ggpht.com/ytc/AAUvwnjeSm4QfqLH0C5vs22qSMVzNpoCW8SsQVNGYbm6wQ=s900-c-k-c0x00ffffff-no-rj');
background-repeat: no-repeat;
background-attachment: fixed;
  background-size: cover;
}